/*
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
}

body {
    padding: 0 10px 30px 10px;
}

h1 {
    padding: 15px 0;
    font-size: 30px;
}

h2 {
    padding: 15px 0;
    font-size: 24px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid grey;
    padding: 3px;
}

ul#menu {
    background-color: #0033cc;
}

ul#menu li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

ul#menu li a {
    color: white;
    font-weight: bold;
}

ul#posts_types_filter li {
    display: inline-block;
    margin-bottom: 20px;
}

ul#posts_types_filter li a {
    font-size: 12px;
}

tr:hover {
    background-color: #dddddd;
}

.term_name {
    color: blue;
}

.taxonomy_name {
    color: red;
}

.indent__X {
    display: inline-block;
    width: 45px; 
}

ul.terms_list, ul.posts_list {
    padding: 0 0 0 40px;
}

ul.terms_list ul, ul.posts_list ul {
    padding: 0 0 0 60px;
}

.nota {
    font-size: 11px;
}
*/

#galeria .foto {
    width: 200px;
}
