<tr>
    <td>${term_id}</td>
    <td class="term_name">${indent}${name}</td>
    <td class="term_name">${indent}${slug}</td>
    <td class="taxonomy_name" title="${description}">${taxonomy}</td>
</tr>
