<tr>
    <td>${ID}</td>
    <td>${user_login}</td>
    <td>${user_nicename}</td>
    <td>${user_email}</td>
    <td>${user_url}</td>
    <td>${user_registered}</td>
    <td>${user_status}</td>
    <td>${display_name}</td>
</tr>
